/* General and Mobile styles */

body {
 margin: 0;
}

.main-wrapper {
  display: flex;
  flex-direction:row;
}

.main {
  margin: 0;
}
  
.sidebar {
  display: none;
  height: 200px;
}
  
.title {
  color: red;
}

.searchbar-wrapper {
  display: flex;
  flex-direction: column;  
  background-color: white;
  height: 50px;
  width: 800px;
  box-shadow: 0 0 10px 5px lightgray;
}

.globalsearch {
  font-size: 10px;
  color: lightgray;
}

.notification {
  float: right;
}

.search {
  float: left;
  margin: none;
}  
 
.tasks-wrapper {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}
 
.tasks {
  display: flex;
  flex-direction: column;
  background: white;
  height: 300px;
  width: 100%;
  position: relative;
}

.notification {
  padding-right: 10px;
}

.tasks2 {
  display:flex;
  flex-direction:row;
  font-size: 10px;         
}

.this-month {
  float: right;
  padding-left: 37%;
  color: green;
}

.this-month8 {
  float: right;
  padding-left:50%;
  color: green;
}

.written-date {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
}       

.calender {
  display: none;
}

.calender-date { 
  border-bottom: 1px solid lightgray;
}  

  
.reminder {
  background-color:white;
  height: 20%;
  width:-webkit-fill-available;
  position:absolute;
  bottom:48%;
  margin: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 5px lightgray;
  font-size: 10px;
  font-family: arial,sans-serif;
}

.call {
  background-color: white;
  height: 20%;
  width:-webkit-fill-available;
  position:absolute;
  bottom:24%;
  margin: 10px;
  box-shadow: 0 0 10px 5px lightgray;
  font-size: 10px;
  font-family: arial,sans-serif;
}

.event {
  background-color: white;
  height: 20%;
  width:-webkit-fill-available;
  position:absolute;
  bottom:0px;
  margin: 10px;
  box-shadow: 0 0 10px 5px lightgray;
  font-size: 10px;
  font-family: arial,sans-serif;
}

.instruction{
  font-size: 10px;
  margin: 5px;
}
  
.person { 
  display: flex;
  flex-direction: row;
}
  
.picture {
  border-radius: 15px;
  justify-content: space-between;
  align-content: center;
}
  
.pic-name {
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
}

.fullname {
  margin-left: 10px;
  display: inline-block;
  white-space: normal;
  justify-content: space-between;
  align-content: center;
  }

.action {
  float:right;
  color: lightgray;
  padding-right: 3px;
  font-size: 10px;
}

.result { 
  float: right;
  padding: 4px;
  margin: 2px;
  margin-left: 60%;
  border-radius: 5px;
  background: #73AD21;
  width: fit-content;
  height: fit-content;
  font-size: 10px
}

.result1 { 
  float: right;
  padding: 4px;
  padding-right: 13px;
  padding-left: 13px;
  margin: 2px;
  margin-left: 60%;
  border-radius: 5px;
  background: red;
  width: fit-content;
  height: fit-content;
   font-size: 10px;
}

.due-date {
  color: lightgray;
  margin: 5px;
}  

.person { 
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
} 
  
.charts {
  background: lightgray;
  height: 300px;
  width: 100%;
}
  
.bar-graph {
  background-color: white;
  height: 46%;
  margin: none;   
}

.pie-chart {
  background-color: white;
  height: 46%;
  margin-top: 7%;
}

.list-circle {
  float: right;
  padding: 5px;
}


.deals {
  display: flexbox;
  flex-direction: row;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  font-family: arial,sans-serif;
  font-size: 10px;
}

.deals { 
  padding: none;
  display: flexbox;
 height: 10%;
 border-bottom: 1px solid lightgray;
}

.tasks1 { 
  display: flexbox;
  flex-direction: row;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  font-family: arial,sans-serif;
  font-size: 10px;
}

.triangle-down {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid lightgray;
}

  
.Show {
  color: lightgray;
}
  
.duedate{
  margin:auto;
  text-align: left;
} 
  
.circle { 
  height: 35%;
  width: 35%;
  margin-top: 8px;
  margin-left: 20px;
}

.graph { 
  height: 110px;
  width: auto;
  margin-left: 15%;
  margin-top: 3%;
} 
  
  /* Desktop styles */

@media only screen and (min-width: 375px)
  
{
    
.title { 
  color: blue;
}
    
.main-wrapper {
  height: 850px;
  width: 1440px;
}
    
.sidebar {
  display: flex;
  flex-direction: column; 
  Width: 150px;
  height:660px;
}

      
.saas-kit {border-bottom: 1px solid lightgray;
 color: green;
 padding-left: 5px;
 padding-top: 6px;
 padding-bottom: 8px;
 font-size: 12px;
 font-weight: bold;
}

.sierra {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.sf {
  border-radius: 20px;
  width: 35px;
  margin-left: 5px
}

  
.name {
  font-size: 10px;
  font-family: arial sans-serif;
  padding-left: 5px;
  padding-top: 5px;
}
  
.email {
  color: lightgray;
}
  

.list{
 display: flex;
 flex-direction: column;
 border-bottom: 1px solid lightgray;
 padding-top: 10px;
 margin-bottom: 10px;
 padding-bottom: 10px;
}

  
  
.img-word {
  display: flex;
 flex-direction: row;
 font-size: 10px;
 padding-left: 5px;
}
  
.img {
  height: 20px;
  width: 20px;
  padding-right: 0;
  display: block;
}

.img-settings {
  height: 20px;
  width: 20px;
  padding-right: 0;
  display: block;
  padding-top:2.5px;
  padding-left: 5px;
}

  
.word {
  padding-top: 5px;
}

.settings {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  font-family: arial sans-serif;
}

.tasks-wrapper {
  flex-direction: row;
  width: 800px;
  height: 600px;
}
  
.tasks {
  flex-grow: 3;
  height: 94%;
  width: 60%;
  margin: 10px;  
}
.calender { 
  display:flex;
  flex-direction: row;
  height: 25%;
  width: 100%;
  align-items: normal;
  font-size: 10px;
  padding-bottom: 6px;
}

.written-date {
  padding-bottom: 0px;
}
  
.day-date { 
  padding-left: 39px;
  align-items: center;
  font-family: arial,sans-serif;
}
  
.day {
  text-align: center;
  color: lightgray;
}
  
.date {
  text-align: center;
  margin-top: 10px  
}
    
.date1 {
  text-align: center;
  background-color: blue;
  color: white;
  border-radius: 10px;
  height:12px;
  width:12px;
  border-color: blue;
  margin-top: 10px;
}

.day2 {
  text-align: center;
  color: lightblue;
}

.date2 {
  text-align: center;
  color: lightblue;
  margin-top: 10px
}

.result { 
  margin-left: 70%;
}

.result1 { 
  margin-left: 70%;
}

.charts {
  flex-grow: 2;
  width: 38%; 
  margin: 10px;
}

.graph { 
  height: 100%;
  width: 70%;
  margin-left: 15%;
  margin-top: 3%;
}  

.tasks {
  flex-grow: 2;
}

.this-month8 {
  float: right;
  padding-left:60%;
  color: green;
}

}